.book .book-summary .summary .chapter a {
  white-space: normal; /* Allows the text to wrap normally */
  word-wrap: break-word; /* Breaks long words to ensure wrapping */
  display: block;
  padding-left: 1.5em; /* Adjust padding to align the second line */
  text-indent: -1em; /* Aligns the first line with the list number */
}


th, td {
        font-size: 12px;
        border-collapse: collapse;
        border-width:3px;
    }

/* ordered and unordered list styles */
.reveal ul,
.reveal ol {
    font-size: 12px;
    color: black;
}

/*
.book.font-size-2 .book-body .page-inner section {
  font-size: 12px;
}
*/

/*____Code Chunks____*/
/*this is the the box part of the. code */
.pre.sourceCode r Code {
  margin: 0 !important;
  background:white!important;
  color: black!important;
  border: 3px solid black;
}

/*this is the meat of the. code */
.sourceCode r {
  background: #E2CCFE!important;
  color: black!important;
  border: 3px solid black;
  margin-bottom: 12px;

}
.showopt {
  background-color: #000080;
  color: #FFFFFF;
  width: 100px;
  height: 20px;
  text-align: center;
  vertical-align: middle !important;
  float: right;
  font-family: sans-serif;
  border-radius: 8px;
}
details {
  border: 3px solid #aaa;
  width: 672px;
  border-color: black;
  color: #FFFFFF;
  background-color: #000080;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
background-color: Orange;
font-weight: bold;
  color: #000080;
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
  border: 3px solid black;
  width: 672px;
  background-color: #E2CCFE;
  color: #000080;
  border-radius: 4px;
  border-color: black;
  padding: 0.5em 0.5em 0;
}

details summary {
background-color: #000080;

  font-size: 12px!important;
  color: #FFFFFF;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
}
details[open] summary {

  font-size: 12px!important;
  background-color: #E2CCFE;
  color: #000080;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
}

.book .book-body .page-wrapper .page-inner section.normal *{

  font-size: 12px!important;

}

code span.do {
    color: black!important;
    font-style: italic;
}
p code {
  white-space: inherit;
  color: darkred!important;
  background: #FFFFFF!important;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  word-break: normal;
  /* word-wrap: normal;*/
  font-size: 12px!important;
  border: 2px solid black!important;
  white-space: pre-wrap;
  background: #E2CCFE!important;
}

pre code {
  white-space: pre-wrap;
  font-size: 12px;
  background-color: #E2CCFE!important;
}

.main-container {
  max-width: 800px!important;
  margin-left: auto;
  margin-right: auto;
}


.book .book-body .page-wrapper .page-inner {
  max-width: 95%;
}

h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #000080;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em !important;

  color: #000080;
 }

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  color: #000080;
  font-size: 12px !important;
}

dt {
  color:  #000080;
}

.book.font-family-0 {
  font-family: Georgia, serif;
}
.book.font-family-1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* this is paragraph text */
.book .book-body .page-wrapper .page-inner section.normal p {

    font-size: 12px;
}

.book .book-body .page-wrapper .page-inner section.normal h1{
    font-size: 12px;
    margin-top: 12px }

.book .book-body .page-wrapper .page-inner section.normal h2 {
    font-size: 12px!important;
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
    font-size: 12px!important;
}
.book .book-body .page-wrapper .page-inner section.normal h4 {
    font-size: 12px!important
}

.book .book-body .page-wrapper .page-inner section.normal h5 {
    font-size: 12px!important;
}

/* this is the sidebar hover */
.book .book-summary ul.summary li a:hover {
  color: #000080!important;
  background: #FFFFFF!important;
}

body {

    font-family: Arial, Helvetica, sans-serif!important;
    top: 0!important;
    color: #FFFFFF!important;
    /*background: #000080!important;*/
    font-size: 12px!important;
}

/* this is the sidebar width and TEXT COLOR */
.book .book-summary ul.summary li a, .book .book-summary ul.summary li span{
    font-size: 12px!important;
     color: #FFFFFF!important;
  background-color: #000080!important;
    display: block;
    padding: 10px 15px;
    font-size: 12px!important;
    border-bottom: none;

    text-overflow: ellipsis;
    white-space: wrap;
    position: relative;
    font-weight: bold!important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

/* this is the sidebar width and font family */
.book .book-summary {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px:!important;
  height: 100%;
  width: 250px!important;
  position:absolute;
  font-weight: bold!important;
  top:0px!important;
  color: #FFFFFF!important;
  background-color: #000080!important;
}

